.blog{
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
}

.blog-text {
    padding: 70px;
    text-align: right;
}

.blog-text h2 {
    font-size: 3rem;

}

.blog-text h3 {
    font-size: 2rem;
    margin-top: 20px;

}



.blog-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
}

.viewmore{
    padding: 10px;
    display: flex;
}
