@font-face {
    font-family: "Foregen";
    src: url('../../fonts/The Foregen Regular.otf') format("opentype");
  }

  @font-face {
    font-family: "backtoNature";
    src: url('../../fonts/Back To Nature-Light.otf') format("opentype");
  }


.page2 {
    display: flex;
    gap: 40px;
    padding: 60px;
    width: 100%;
    background: black;
    color: white;
    align-items: flex-start;
    height: auto;
    min-height: 100vh;
  }

  .left {
    flex: 0.35;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    align-items: center;
   height: 100vh;
   width: 100%;

   padding: 10px 10px;
  }

  .left h2 {
    font-size: 3.2rem;
    margin-bottom: 15px;
    line-height: 1.3;
    font-family: Foregen;
  }

  .left p {
    opacity: 0.9;
    font-size: 1.7rem;
    line-height: 1.6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }



  .right {
    flex: 0.65;
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);


    grid-auto-rows: 300px;

    grid-template-areas:
      "item1 item2 item2"
      "item1 item3 item4"
      "item5 item5 item6";
  }

  .item {

    border-radius: 20px;

  }



.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 25px #0005;
    transition: transform 0.3s ease;
    opacity: 0.8;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0px 15px 40px rgba(0,0,0,0.4),
                0px 0px 0px 2px rgba(255,255,255,0.05);
  }

  .card:hover {
    transform:translateY(-6px);
    -webkit-transform:translateY(-6px);
    -moz-transform:translateY(-6px);
    -ms-transform:translateY(-6px);
    -o-transform:translateY(-6px);
    opacity: 1;
}

  .card h4 {
    position: absolute;
    bottom: 16px;
    left: 18px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 0px 4px 12px #000c;
  }

  @media (max-width: 1024px) {

    .page2 {
      flex-direction: column;
      align-items: center;
    }

    .left, .right {
      flex: none;
      width: 100%;
    }

    .right {
      grid-template-columns: repeat(2, 1fr);

      grid-template-areas:
        "item1 item2"
        "item3 item2"
        "item4 item5"
        "item6 item5";
    }
  }

  @media (max-width: 600px) {
    .right {
      grid-template-columns: 1fr;

      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6";
    }
  }
