.section3{
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
color: white;
flex-direction: column;

}


.carousal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .carousal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
  }


  .carousal::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    border-radius: 14px;
  }

  /* Bottom text + button */
  .info {
    position: absolute;
    bottom: 10px;
    left: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

  }

  .title {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }


  .button {
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    filter: url(#handDrawnNoise);
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1em;
    border-width: 0px;
    border-radius: 2rem;
    height: 30px;

    animation: idle 1s infinite ease-in-out;
    background-color: black;  /* forest green dark */
    box-shadow: #1f3d1f66 4px 4px 0 1px;
  }

  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: rgba(150, 255, 150, 0.3);
    stroke: rgba(150, 255, 150, 0.4);    stroke-width: 10;
    stroke-linecap: round;
    pointer-events: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.5s ease-in-out;
  }

  @keyframes idle {
    0% {
      filter: url(#handDrawnNoise);
    }
    50% {
      rotate: 2.5deg;
      filter: url(#handDrawnNoise2);
    }
    100% {
      filter: url(#handDrawnNoise);
    }
  }

  .button-cosm {
    fill: #33333366;
    transition: 0.3s ease-out;
    scale: 0.5;
    position: absolute;
    translate: calc(-100% + 24px) 1.5rem;
  }

  .button:hover {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
  }

  .button:hover {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
    rotate: -2.5deg;
    animation: hover 2.5s infinite ease-in-out;

  }

  .button:hover .highlight {
    stroke-dashoffset: 0;
  }

  .button:active .highlight {
    stroke-dashoffset: 1000;
    animation:
      highlight 5s infinite,
      col 0.5s forwards;
    stroke: #bc4e2666;
  }

  @keyframes col {
    0% {
      stroke: rgba(255, 225, 0, 0.5);
    }
    100% {
      stroke: #1c98eb66;
    }
  }

  @keyframes highlight {
    0% {
      stroke-dashoffset: 0;
    }
    25% {
      stroke-dashoffset: 1000;
    }
    50% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes hover {
    0% {
      rotate: 0deg;
      filter: url(#handDrawnNoise);
      translate: 0 0px;
    }
    25% {
      rotate: -1deg;
      filter: url(#handDrawnNoise2);
      translate: 0 -2px;
    }
    50% {
      rotate: 0deg;
      filter: url(#handDrawnNoise);
      translate: 0 2px;
    }
    75% {
      rotate: -1deg;
      filter: url(#handDrawnNoise2);
      translate: 0 -2px;
    }
    100% {
      rotate: 0deg;
      filter: url(#handDrawnNoise);
      translate: 0 0px;
    }
  }

  .button:hover .button-cosm {
    rotate: -15deg;
    translate: calc(-100% + 22px) 1.9rem;
  }

  .button:active .button-cosm {
    fill: #333333f1;
    rotate: -135deg;
    translate: calc(-100% + 55px) 1.6rem;
    animation: none;
  }

  .button:active {
    font-weight: bold;
    border-width: 0px;
    border-radius: 2rem;
    box-shadow: inset #333333f1 4px 4px 0 1px;
    rotate: -2.5deg;
    animation: active 1s infinite ease-in-out;
  }

  @keyframes active {
    0% {
      filter: url(#handDrawnNoiset);
      translate: 0 -1px;
    }
    25% {
      rotate: -3deg;
    }
    50% {
      filter: url(#handDrawnNoiset2);
      translate: 0 1px;
    }
    66% {
      rotate: 1.5deg;
    }
    100% {
      filter: url(#handDrawnNoiset);
      translate: 0 -1px;
    }
  }


  .section3-title{

    height: 200px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 45px;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: "Playfair Display", serif;
 
  }

  .carousal img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }

  .carousal:hover img {
    transform: scale(1.1);
  }
